.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    width: 1000px;
    height: 900px;
    margin: 147px auto 0 auto;
    background-color: #6157ff;
    background-image: linear-gradient(to left, #852ea3, #9933ff);
    border-radius: 40px;
    padding: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #044387;
}

.upload-form h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #044387;
}

.upload-button-container {
    text-align: center;
}

.upload-button-container p {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #044387;
}

.upload-button-container input[type="file"] {
    font-size: 1.2rem;
    padding: 15px;
    margin: 20px 0;
    width: 80%;
    max-width: 500px;
    border: 2px solid #ccc;
    border-radius: 8px;
    color: #044387;
}

.upload-button-container input[type="file"]::file-selector-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: inherit;
    color: #044387;
    cursor: pointer;
    margin-right: 5px;
    padding-left: 80px;
}

.upload-button {
    font-size: 1.5rem;
    padding: 12px 25px;
    background-color: #044387;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #29b957;
}

.upload {
    position: relative;
    padding-bottom: 10px;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    margin: 0;
}
.upload a{
    background: linear-gradient(to right, #28a745, #ffc107); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-clip: text;
}
.upload:hover {
    background: linear-gradient(to right, #9933ff, #3316ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.upload::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #6328c3, #5e149b, #9933ff, #852ea3, #650d5d);
}

.uploaded-files-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.preview-item {
    border: 2px solid #044387;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
}