.favorites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: center;
    padding: 20px;
    z-index: 10; 
    margin-top: 135px;
}

.favorites {
    background: linear-gradient(to right, #28a745, #ffc107);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-bottom: 0px;
}



.favorites::after {
    content: "";
    display: block;
    position: relative;
    width: 140%;
    left: -20px;
    height: 5px;
    margin-top: 5px;
    background: linear-gradient(to right, #6328c3, #5e149b, #9933ff, #852ea3, #650d5d); 
}


.favorites-gif {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 20;
}

.favorites-gif img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 20;
    transform: scale(1.1);
}
